body {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
.Image-Slider-Container.main {
  width: 600px;
  height: 400px;
}

.Image-Slider-Display.main {
  width: 100%;
  height: 80%;

  display: flex;

  overflow: hidden;
  position: relative;

  background-color: white;
}

.Image-Slider-Buttons.main {
  box-sizing: border-box;

  width: 100%;
  height: 20%;

  display: flex;

  justify-content: center;
  align-items: center;

  border: 1px solid grey;

  background-color: white;
}

.Image-Slider-Image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOutToLeft {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

.Image-Slider-Image.Selected-Right {
  display: block;
  animation: slideInFromRight 0.5s ease forwards;
}

.Image-Slider-Image.Unselected-Right {
  display: block;
  animation: slideOutToRight 0.5s ease forwards;
}

.Image-Slider-Image.Selected-Left {
  display: block;
  animation: slideInFromLeft 0.5s ease forwards;
}

.Image-Slider-Image.Unselected-Left {
  display: block;
  animation: slideOutToLeft 0.5s ease forwards;
}

.Image-Slider-Button {
  background-color: rgb(152, 152, 152);

  width: 65px;
  height: 30px;

  margin-inline: 10px;

  border-radius: 15px;

  border: none;
}

.Image-Slider-Button.Center {
  width: 30px;
}

.Image-Slider-Button:hover {
  background-color: skyblue;
  cursor: pointer;
}

.Image-1 {
  background-color: green;
}

.Image-2 {
  background-color: blue;
}

.Image-3 {
  background-color: red;
}

.Image-4 {
  background-color: orange;
}

.Image-5 {
  background-color: yellow;
}
