.TicTacToe-Header {
    width: 70vh;
    height: 115px;

    border-radius: 5px;
}

.TicTacToe-Title-Container {
    width: 100%;
    height: 70%;

    background-color: orange;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.TicTacToe-UI {
    width: 100%;
    height: 30%;

    background-color: green;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}