
nav {
  width: inherit;
  height: 135px;

  display: flex;
  flex-direction: column;
}

.Nav-Buttons,
.Nav-Trim {
  display: inherit;
  justify-content: center;
  align-items: center;

  height: 50%;
  width: 100%;

  background-color: white;
}

.Nav-Trim {
  background-color: green;
}

.Left-Container,
.Right-Container {
  box-sizing: border-box;
  height: 100%;
  width: 40%;

  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 100%;

  border: none;

  padding-inline: 15px;

  background-color: white;

  color: rgb(68, 68, 68);

  font-weight: 700;
}

button:hover {
  background-color: rgb(139, 199, 219);

  color: white;

  cursor: pointer;
}

.Center-Logo {
  box-sizing: border-box;
  height: 100%;
  width: 20%;

  font-family: "Yellowtail", cursive;

  font-size: 2.7rem;

  color: rgb(198, 158, 72);
}

.Nav-Trim {
  background-color: rgb(198, 158, 72);

  flex-direction: column;
}

.Nav-Trim > h3 {
  font-size: 0.7rem;
  font-weight: 600;

  color: rgb(68, 68, 68);

  margin-bottom: 10px;
}

.Nav-Trim > h4 {
  font-size: 0.7rem;
  font-weight: 400;

  color: white;
}
