* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.casing {
    display: inherit;
    flex-direction: column;
    align-items: inherit;
    width: 375px;
    height: 650px;
    padding: 20px;
    border-radius: 10px;
    background-color: grey
}

.display {
    width: 375px;
    height: 200px;
    padding-bottom: 25px;
    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;
    background-color: white;
}

.buttonContainer {
    width: 375px;
    padding-top: 15px;
    flex: 1;
    display: inherit;
    flex-wrap: wrap;
}

.button {
    width: 25%;
    font-size: 32px;
    border-radius: 4px;
}

.number {
    background-color: lightgray;
}

.backspace {
    font-size: 16px;
}

.memory {
    height: 20%;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    background-color: green;
}

.currentOutputContainer {
    height: 80%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.output {
    height: 20%;
    padding-inline: 5px;
    font-size: 46px;
    font-weight: 300;
    background-color: yellow;
}
