/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 99.9vw;
    height: 99.9vh;
    display: flex;
}

nav {
    box-sizing: border-box;
    height: 100%;
    width: clamp(150px, 15.5rem, 265px);
    background-color:#20a1fe;
    padding-inline: 10px;
}

main {
    height: 100%;
    display: inherit;
    flex-direction: column;
    flex-grow: 1;
    background-color: #e5e7eb;
}

.header {
    width: 100%;
    height: clamp(90px, 8.5rem, 200px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.header-top {
    width: 100%;
    height: 40%;
    display: flex;
}

.header-bottom {
    width: 100%;
    height: 60%;
    display: flex;
}

.searchBar {
    width: 70%;
    height: 100%;
    margin-left: 30px;
    margin-right: 20px;
    display: inherit;
    justify-content: start;
    align-items: center;
}

.searchIcon {
    width: clamp(20px, 3.125rem, 50px);
    height: clamp(20px, 3.125rem, 50px);
    display: inherit;
    justify-content: center;
    align-items: center;
}

.searchIcon > img {
    width: 1.3rem;
    height: 1.3rem;
}

.searchBar > form {
    width: 85%;
    height: 45%;
}

form > input {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background-color: #e5e7eb;
    border: none;
}

.miniProfileCard {
    width: 30%;
    height: 100%;
    display: inherit;
    padding-right: 30px;
    justify-content: end;
}

.notifBell, .miniProfileIcon, .mainProfileIcon {
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    display: inherit;
    justify-content: end;
    align-items: center;
}

.notifBell > img {
    height: 1.7rem;
    width: 1.9rem;
}

.notifBell > img:hover {
    cursor: pointer;
}

.miniProfileIcon > img {
    height: 2.5rem;
    width: 2.5rem;
}

.miniProfileIcon > img:hover {
    cursor: pointer;
}

.username {
    height: 100%;
    display: inherit;
    justify-content: start;
    align-items: center;
    padding-inline: 15px;
}

.username > h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

.username > h2:hover {
    cursor: pointer;
}

.mainProfileCard {
    height: 100%;
    width: 65%;
    padding-left: 30px;
    display: inherit;
}

.mainProfileIcon > img {
    width: 5rem;
}

.mainProfileIcon > img:hover {
    cursor: pointer;
}

.mainUsernameContainer {
    display: inherit;
    flex-direction: column;
}

.greeting{
    box-sizing: border-box;
    display: inherit;
    height: 40%;
    align-items: end;
    padding-bottom: 3px;
}

.greeting > h3 {
    font-size: 0.8rem;
}

.mainUsername {
    display: inherit;
    height: 60%;
}

.mainUsername > h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.mainUsername > h1:hover {
    cursor: pointer;
}

.headerButtons {
    box-sizing: border-box;
    display: inherit;
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: end;
}

button {
    height: clamp(24px, 2.375rem, 120px);
    width: clamp(60px, 6rem, 120px);
    border-radius: 50px;
    border: none;
    background-color:#20a1fe;
    color: white;
    font-weight: 600;
    margin-inline: clamp(8px, 1rem, 16px);
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.navHeader {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.navName {
    margin-left: 5px;
}

.navName > h1 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem
}

.navLogo > img {
    height: 48px;
}

.firstNavButtons {
    margin-bottom: 40px;
    padding-left: 15px;
}

.secondNavButtons {
    padding-left: 15px;
}

ol {
    line-height: 40px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
}

a:hover {
    color: lightblue;
}

.Home-link,
.Profile-link,
.Messages-link,
.History-link,
.Tasks-link,
.Communities-link,
.Settings-link,
.Support-link,
.Privacy-link {
    background-size: 1.6rem;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2em;
}

.Home-link {
    background-image: url('images/home_icon.svg') ;
}

.Profile-link {
    background-image: url('images/edit_profile_icon.svg');
}

.Messages-link {
    background-image: url('images/messages_icon.svg');
}

.History-link {
    background-image: url('images/history_icon.svg');
}

.Tasks-link {
    background-image: url('images/tasks_icon.svg');
}

.Communities-link {
    background-image: url('images/communities_icon.svg');
}

.Settings-link {
    background-image: url('images/settings_icon.svg');
}

.Support-link {
    background-image: url('images/support_icon.svg');
}

.Privacy-link {
    background-image: url('images/privacy_icon.svg');
}

.content {
    display: inherit;
    flex-grow: 1;
    margin-bottom: 20px;
}

.content-headers {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: end;
}

.content-left-side {
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    display: grid;
    padding: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    overflow: auto;
    margin-bottom: 20px;
}

.content-right-side {
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    display: grid;
    padding: 15px;
    padding-left: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 2px;
    overflow: auto;
}

.left-card {
    background-color: white;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

.right-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.announcement-box {
    margin-bottom: 35px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.15);
    padding: 25px;
}

.announcement-box-top {
    height: 33.3%;
    width: 100%;
}

.announcement-box-middle {
    height: 33.3%;
    width: 100%;
    border-top: 1px solid rgba(128,128,128,0.5);
    border-bottom: 1px solid rgba(128,128,128,0.5);
}

.announcement-box-bottom {
    height: 33.3%;
    width: 100%;
}

.announcement-box-top,
.announcement-box-middle,
.announcement-box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcement-box h4 {
    margin-bottom: 5px;
    font-weight: 600;
    color: black;
}

.announcement-box p {
    font-size: .7rem;
    color: grey;
}

.announcement-box h4:hover{
    color: skyblue;
}


.trending-box {
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.15);
    flex-grow: 1;
    padding: 15px;
}

.trending-profiles {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.trending-profile-icon {
    aspect-ratio: 1/1;
    Height: 3rem;
    margin-right: 10px;
}

.trending-profile-icon img {
    height: 100%;
    width: 100%;
}

.at-tag-theme {
    margin-top: 5px;
    font-size: 0.8rem;
    color: grey;
}

.trending-header {
    font-size: 1.2rem;
    font-weight: 500;
}

.your-project-header {
    width: 69.5%;
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.announcement-header {
    width: 30.5%;
    font-size: 1.2rem;
    font-weight: 500;
}

.color-block {
    height: 100%;
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(244, 182, 66);
}

.individual-content {
    width: calc(100% - 10px);
    height: 100%;
    padding-inline: 20px;
}

.content-description {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content-buttons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.content-description > p {
    word-wrap: break-word;
    color: grey;
}

.content-description > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.content-button {
    aspect-ratio: 1/1;
    height: 18px;
    width: auto;
    margin-inline: 10px;
}

.content-button img {
    height: 100%;
    width: 100%;
}



