/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 99.9vw;
    height: 99.9vh;
    display: flex;
}

nav {
    box-sizing: border-box;
    height: 100%;
    width: clamp(150px, 15.5rem, 265px);
    background-color:#20a1fe;
    padding-inline: 10px;
}

main {
    height: 100%;
    flex-grow: 1;
    background-color: #e5e7eb;
}

.header {
    width: 100%;
    height: clamp(90px, 8.5rem, 200px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.header-top {
    width: 100%;
    height: 40%;
    display: flex;
}

.header-bottom {
    width: 100%;
    height: 60%;
    display: flex;
}

.searchBar {
    width: 70%;
    height: 100%;
    margin-left: 30px;
    display: inherit;
    justify-content: start;
    align-items: center;
}

.searchIcon {
    width: clamp(20px, 3.125rem, 50px);
    height: clamp(20px, 3.125rem, 50px);
    display: inherit;
    justify-content: center;
    align-items: center;
}

.searchIcon > img {
    width: 1.3rem;
    height: 1.3rem;
}

.searchBar > form {
    width: 85%;
    height: 45%;
}

form > input {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background-color: #e5e7eb;
    border: none;
}

.miniProfileCard {
    width: 30%;
    height: 100%;
    display: inherit;
}

.notifBell, .miniProfileIcon, .mainProfileIcon {
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.notifBell > img {
    height: 1.7rem;
    width: 1.9rem;
}

.notifBell > img:hover {
    cursor: pointer;
}

.miniProfileIcon > img {
    height: 2.5rem;
    width: 2.5rem;
}

.miniProfileIcon > img:hover {
    cursor: pointer;
}

.username {
    height: 100%;
    display: inherit;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    padding-left: 15px;
}

.username > h2 {
    font-size: 1.1rem;
    font-weight: 700;
}

.username > h2:hover {
    cursor: pointer;
}

.mainProfileCard {
    height: 100%;
    width: 65%;
    padding-left: 30px;
    display: inherit;
}

.mainProfileIcon > img {
    width: 5rem;
}

.mainProfileIcon > img:hover {
    cursor: pointer;
}

.mainUsernameContainer {
    display: inherit;
    flex-direction: column;
}

.greeting{
    box-sizing: border-box;
    display: inherit;
    height: 40%;
    align-items: end;
    padding-bottom: 3px;
}

.greeting > h3 {
    font-size: 0.8rem;
}

.mainUsername {
    display: inherit;
    height: 60%;
}

.mainUsername > h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.mainUsername > h1:hover {
    cursor: pointer;
}

.headerButtons {
    box-sizing: border-box;
    display: inherit;
    height: 100%;
    width: 35%;
    justify-content: space-around;
    align-items: center;
}

button {
    height: clamp(24px, 2.375rem, 120px);
    width: clamp(60px, 6rem, 120px);
    border-radius: 50px;
    border: none;
    background-color:#20a1fe;
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

.navHeader {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.navName {
    margin-left: 5px;
}

.navName > h1 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem
}

.navLogo > img {
    height: 48px;
}
