/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 99.9vw;
    height: 99.9vh;
    display: flex;
}

nav {
    height: 100%;
    width: clamp(150px, 15.5rem, 265px);
    background-color:#20a1fe;
}

main {
    height: 100%;
    flex-grow: 1;
    background-color: #e5e7eb;
}

.header {
    width: 100%;
    height: clamp(90px, 8.5rem, 200px);
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.header-top {
    width: 100%;
    height: 40%;
    display: flex;
}

.header-bottom {
    width: 100%;
    height: 60%;
    display: flex;
    background-color: blue;
}

.searchBar {
    width: 70%;
    height: 100%;
    padding-left: 30px;
    display: inherit;
    justify-content: start;
    align-items: center;
}

.searchIcon {
    width: clamp(20px, 3.125rem, 50px);
    height: clamp(20px, 3.125rem, 50px);
    display: inherit;
    justify-content: center;
    align-items: center;
}

.searchIcon > img {
    width: 1.3rem;
    height: 1.3rem;
}

.searchBar > form {
    width: 85%;
    height: 45%;
}

form > input {
    width: 100%;
    height: 100%;
    border-radius: 200px;
    background-color: #e5e7eb;
    border: none;
}

.profileCard {
    width: 30%;
    height: 100%;
    display: inherit;
}

.notifBell {
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    display: inherit;
    justify-content: center;
    align-items: center;
}

.notifBell > img {
    height: 1.7rem;
    width: 1.9rem;
}