/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    font-family: 'Open Sans', sans-serif;
    color: rgb(46, 46, 46)
}

body {
    width: 100vw;
    height: 100vh;
}

.Content-Wrapper {
    width: 100%;
    height: 100%;
    display: none;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: clamp(600px, 100%, 100%);
    height: clamp(80px, 6rem, 140px);
    background-color: rgb(244, 244, 244);
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: 2;
    top: 0;
}

.Logo-and-Header, .Nav-Buttons {
    height: 100%;
    width: clamp(15%, 24rem, 25%);
    display: inherit;
    justify-content: start;
    align-items: center;
    padding-inline: 24px;
}

.Nav-Buttons {
    justify-content: end;
}

.Add-Book, .Remove-Book, .New-Library {
    margin-inline: 15px;
    height: 50%;
    background-color: lightgrey;
    width: clamp(48px, 6rem, 144px);
    font-size: clamp(12px, 1.10rem, 24px);
    font-weight: 500;
    border-radius: 15px;
    border-style: none;
}

.Add-Book:hover, .Remove-Book:hover, .New-Library:hover {
    background-color: lightblue;
    box-shadow: 0px 0.5px 1.5px 1.5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.Add-Book:active, .Remove-Book:active, .New-Library:active {
    background-color:  skyblue;
}

.logo {
    aspect-ratio: 1/1;
    width: clamp(24px, 3rem, 48px);
}

.header {
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 600;
}


main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: clamp(240px, 16rem, 16rem);
    gap: 30px;
    width: clamp(1100px, 100%, 100%);
    margin-top: calc(clamp(80px, 6rem, 140px) + 20px);
    box-sizing: border-box;
}

.gridTest {
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 15px;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr repeat(5, 2fr);
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.15);
}

.X-Button {
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-self: end;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: clamp(24px, 2rem, 48px);
    width: clamp(24px, 2rem, 48px);
    border: none;
    background-color: lightgray;
    border-radius: 64px;
    left: 28px;
    top: -16px;
    font-size: 1.3rem;
    z-index: 1;
}

.X-Button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.Library-Owner {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 0.7rem;
    display: flex;
    justify-self: end;
}

.Library-Owner-Name {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: start;
    font-size: 0.7rem;
    padding-left: 2px;
}

.Book-Title {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.2rem;
}

.Book-Title-Name {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.Book-Author {
    grid-column: 1/2;
    grid-row: 3/4;
}

.Book-Author-Name {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
}

.Book-Pages-Left {
    grid-column: 1/2;
    grid-row: 4/5;
}

.Pages-Left-Value {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.Book-Read-Yet {
    grid-column: 1/2;
    grid-row: 5/6;
}

.Read-Yet-Value {
    grid-column: 2/3;
    grid-row: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 400;
}

.Book-Read-Yet, .Book-Pages-Left, .Book-Author, .Book-Title {
    display: flex;
    justify-self: center;
    align-self: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
}

.Increment-Page-Value, .Decrement-Page-Value{
    height: 80%;
    width: 95%;
    display: flex;
    align-self: end;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 700;
}

.Increment-Page-Value {
    background-color: green;
}

.Decrement-Page-Value {
    background-color: rgb(210, 0, 0);
}

.Increment-Page-Value:hover {
    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.Decrement-Page-Value:hover {
    box-shadow: 0px 0.5px 1px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.Increment-Page-Value:active {
    background-color: rgb(0, 100, 0);
}

.Decrement-Page-Value:active {
    background-color: rgb(180, 0, 0);
}

.New-Library-PopUp{
    width: 100vw;
    height: 100vh;
    background-color: red;
}