.Book-Card {
    box-sizing: inherit;

    width: 100%;
    height: 100%;
    
    background-color: rgb(218, 218, 218);

    border-radius: 5px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;

    align-items: center;
}   

.Book-Card-Title {
    width: 100%;
    height: 50px;

    background-color: whitesmoke;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid 1px rgb(176, 176, 176);

    font-size: 1.3rem;
    font-weight: 600;
    
    justify-self: start;
    align-self: flex-start;
    justify-content: center;
    
    display: inherit;
    justify-content: center;
    align-items: center;
}

.Book-Card-Author {
    width: 80%;
    height: 59px;

    display: inherit;
    align-items: center;
    justify-content: center;

    border-bottom: solid 1px rgb(176, 176, 176);

}

.Book-Card-Total-Pages {
    width: 80%;
    height: 59px;

    display: inherit;
    align-items: center;
    justify-content: center;

    border-bottom: solid 1px rgb(176, 176, 176);
}

.Book-Card-Current-Page {
    width: 80%;
    height: 59px;

    display: inherit;
    align-items: center;
    justify-content: center;

    border-bottom: solid 1px rgb(176, 176, 176);
}

.Book-Card-Pages-Left {
    width: 80%;
    height: 59px;

    display: inherit;
    align-items: center;
    justify-content: center;

    border-bottom: solid 1px rgb(176, 176, 176);
}

.Book-Card-Read-Yet {
    width: 80%;
    height: 59px;

    display: inherit;
    align-items: center;
    justify-content: center;

}

.Book-Card-Button-Container {
    width: 100%;
    height: 35px;
    
    background-color: whitesmoke;
    
    justify-self: center;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: solid 1px rgb(176, 176, 176);

    display: inherit;
}

.Book-Card-Current-Page-Down {
    height: 100%;
    width: 35%;

    background-color: rgb(194, 41, 41);

    color: white;
    font-size: 1.1rem;
    font-weight: 700;

    border: none;
    border-bottom-left-radius: 5px;

}

.Book-Card-Current-Page-Down:hover {
    background-color: rgb(241, 78, 78);
    cursor: pointer;
}

.Book-Card-Current-Page-Up {
    height: 100%;
    width: 35%;

    background-color: rgb(100, 166, 100);

    color: white;
    font-size: 1.1rem;
    font-weight: 700;

    border: none;

}

.Book-Card-Current-Page-Up:hover {
    background-color: rgb(119, 203, 119);
    cursor: pointer;
}

.Book-Card-Read-Yet-Change {
    height: 100%;
    width: 20%;

    background-color: rgb(77, 77, 180);

    color: white;
    font-size: 0.8rem;
    font-weight: 700;

    border: none;
    border-right: solid 1px rgb(176, 176, 176);

}   

.Book-Card-Read-Yet-Change:hover {
    background-color: rgb(160, 160, 255);
    cursor: pointer;
}

.Book-Card-Delete-Book {
    height: 100%;
    width: 10%;

    border: none;
    border-bottom-right-radius: 5px;

}

.Book-Card-Delete-Book:hover {
    background-color: rgb(248, 65, 65);
    cursor: pointer;
}